<div class="main-container">

  <!-- 見出し 
  <h1>アカウント編集</h1>
  -->
  
  <!-- 編集エリア -->
  <form novalidate>
    <div class="form-box">
      <div id="contents" *ngIf="user">

        <!-- id -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>ID（編集不可）</mat-label>
            <input class="item-input" matInput disabled="" name="id" [(ngModel)]="user.id">
          </mat-form-field>
        </div>

        <!-- company -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>会社名（必須）</mat-label>
            <input class="item-input" matInput name="company" required [(ngModel)]="user.company">
            <mat-error>必須項目なので必ず入力してください。</mat-error>
          </mat-form-field>
        </div>

        <!-- telephone -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>電話番号（必須）</mat-label>
            <input class="item-input" matInput name="telephone" required [(ngModel)]="user.telephone">
            <mat-error>必須項目なので必ず入力してください。</mat-error>
          </mat-form-field>
        </div>

        <!-- email -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>メールアドレス（必須）</mat-label>
            <input class="item-input" matInput name="email" required [(ngModel)]="user.email">
            <mat-error>必須項目なので必ず入力してください。</mat-error>
          </mat-form-field>
        </div>

        <!-- address -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>住所</mat-label>
            <input class="item-input" matInput name="address" [(ngModel)]="user.address">
          </mat-form-field>
        </div>

        <!-- account -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>アカウント（必須）</mat-label>
            <input class="item-input" matInput name="account" required [(ngModel)]="user.account">
          </mat-form-field>
        </div>

        <!-- password -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>パスワード（必須）</mat-label>
            <input class="item-input" matInput name="password" 
              [type]="blnPassVisible ? 'password' : 'text'"  required [(ngModel)]="user.password">
            <mat-icon class="pointer" matSuffix (click)="blnPassVisible = !blnPassVisible">{{blnPassVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </div>

      </div>
    </div>

    <!-- ボタン -->
    <div class="navi-box">
      <button class="navi-button" mat-raised-button color="primary"
        matTooltip="アカウント情報を更新します。" (click)="openNotSupportedDialog()">
        <mat-icon>update</mat-icon>
        &nbsp;更新
      </button>

      <button class="navi-button" mat-raised-button color="warn"
        matTooltip="アカウント情報を削除します。" (click)="openDeleteConfirmDialog()">
        <mat-icon>delete</mat-icon>
        &nbsp;削除
      </button>

      <button class="navi-button" mat-raised-button
        matTooltip="編集をやめて一覧に戻ります。" [routerLink]="['/users/user-list']">
        <mat-icon>cancel</mat-icon>
        &nbsp;キャンセル
      </button>
    </div>

  </form>
</div>







