<div class="main-container">

  <!-- 見出し 
  <h1>アカウント編集</h1>
  -->
  
  <!-- 編集エリア -->
  <form [formGroup]="userForm" (keydown.enter)="$event.preventDefault()" autocomplete="off">
    <div class="form-box">
      <div id="contents" *ngIf="user">

        <!-- id -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>ID（編集不可）</mat-label>
            <input matInput class="item-input" name="id" readonly
              formControlName="id"
              [(ngModel)]="user.id" />
          </mat-form-field>
        </div>

        <!-- company -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>会社名（必須）</mat-label>
            <input matInput class="item-input" name="company"
              formControlName="company"
              placeholder="〇〇株式会社"
              [(ngModel)]="user.company" />
            <mat-error>必須項目なので必ず入力してください。</mat-error>
          </mat-form-field>
        </div>

        <!-- telephone -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>電話番号（必須）</mat-label>
            <input matInput class="item-input" name="telephone"
              formControlName="telephone"
              placeholder="090-1111-1111"
              [(ngModel)]="user.telephone" />
            <mat-error *ngIf="userForm.controls['telephone'].errors?.['required']">必須項目なので必ず入力してください。</mat-error>
            <mat-error *ngIf="userForm.controls['telephone'].errors?.['pattern']">半角数字と一部記号(-)のみ入力可能です。</mat-error>
          </mat-form-field>
        </div>

        <!-- email -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>メールアドレス（必須）</mat-label>
            <input matInput class="item-input" name="email"
              formControlName="email"
              placeholder="hoge@example.com"
              [(ngModel)]="user.email" />
            <mat-error *ngIf="userForm.controls['email'].errors?.['required']">必須項目なので必ず入力してください。</mat-error>
            <mat-error *ngIf="userForm.controls['email'].errors?.['pattern']">メールアドレス形式(hoge@example.com)のみ入力可能です。</mat-error>
          </mat-form-field>
        </div>

        <!-- address -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>住所</mat-label>
            <input matInput class="item-input" name="address"
              formControlName="address"
              placeholder="東京都〇〇区△△..."
              [(ngModel)]="user.address" />
          </mat-form-field>
        </div>

        <!-- account -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>アカウント（必須）</mat-label>
            <input matInput class="item-input" name="account"
              formControlName="account"
              placeholder="hoge@example.com"
              [(ngModel)]="user.account">
            <mat-error *ngIf="userForm.controls['account'].errors?.['required']">必須項目なので必ず入力してください。</mat-error>
            <mat-error *ngIf="userForm.controls['account'].errors?.['pattern']">半角英数字と一部記号(.@-_)のみ入力可能です。</mat-error>
          </mat-form-field>
        </div>

        <!-- password -->
        <div>
          <mat-form-field class="item-box" appearance="standard">
            <mat-label>パスワード（必須: 6-30文字）</mat-label>
            <input matInput class="item-input" name="password"
              formControlName="password"
              placeholder="6-30文字の英数字と一部記号(.@-_)"
              [type]="blnPassVisible ? 'password' : 'text'"
              [(ngModel)]="user.password" />
            <mat-icon class="pointer" matSuffix (click)="blnPassVisible = !blnPassVisible">{{blnPassVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="userForm.controls['password'].errors?.['required']">必須項目なので必ず入力してください。</mat-error>
            <mat-error *ngIf="userForm.controls['password'].errors?.['pattern']">半角英数字と一部記号(.@-_)のみ入力可能です。</mat-error>
            <mat-error *ngIf="userForm.controls['password'].errors?.['minlength']">パスワード最小文字数は6文字です。</mat-error>
            <mat-error *ngIf="userForm.controls['password'].errors?.['maxlength']">パスワード最大文字数は20文字です。</mat-error>
          </mat-form-field>
        </div>

      </div>
    </div>

    <!-- ボタン -->
    <div class="navi-box">
      <ng-container *ngIf="isUpdate; else isAppend">
        <button class="navi-button" mat-raised-button color="primary"
          matTooltip="会社情報を更新します。"
          (click)="openUpdateConfirmDialog()"
          [disabled]="userForm.invalid" >
          <mat-icon>update</mat-icon>
          &nbsp;更新
        </button>
        <button class="navi-button" mat-raised-button color="warn"
          matTooltip="会社情報を削除します。" (click)="openDeleteConfirmDialog()">
          <mat-icon>delete</mat-icon>
          &nbsp;削除
        </button>
        <button class="navi-button" mat-raised-button
          matTooltip="編集をやめて一覧に戻ります。" [routerLink]="['/users/user-list']">
          <mat-icon>cancel</mat-icon>
          &nbsp;キャンセル
        </button>
      </ng-container>
      <ng-template #isAppend>
        <button class="navi-button" mat-raised-button color="primary"
          matTooltip="会社情報を追加します。" 
          (click)="openAppendConfirmDialog()"
          [disabled]="userForm.invalid" >
          <mat-icon>add</mat-icon>
          &nbsp;追加
        </button>
        <button class="navi-button" mat-raised-button
          matTooltip="編集をやめて一覧に戻ります。" [routerLink]="['/users/user-list']">
          <mat-icon>cancel</mat-icon>
          &nbsp;キャンセル
        </button>
      </ng-template>
    </div>

  </form>
</div>







