<div *ngIf="headerVisible">
  <mat-toolbar color="primary">
    <div class="logo-wrapper">
      <img src="assets/group48.png" />
    </div>
    <span>{{ headerTitle }}</span>
    <span class="spacer"></span>

    <!-- ボタン -->
    <div *ngIf="logoutVisible">
      <button class="navi-button" type="button" mat-raised-button color="warn"
        matTooltip="本システムからログアウトします。" [routerLink]="['/login']">
        <mat-icon>logout</mat-icon>
        &nbsp;ログアウト
      </button>
    </div>
  </mat-toolbar>
</div>
