<div *ngIf="header.visible">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ header.title }}</span>
    <span class="spacer"></span>

    <!-- ボタン -->
    <button class="navi-button" type="button" mat-raised-button color="warn"
      matTooltip="本システムからログアウトします。" [routerLink]="['/login']">
    <mat-icon>logout</mat-icon>
    ログアウト
  </button>
  </mat-toolbar>
</div>
