<div class="wrapper">
  <nx-demo-header></nx-demo-header>
  <div class="main">
    <!-- routerLinkに指定したコンポーネントのテンプレート内容が表示される -->
    <router-outlet></router-outlet>
  </div>
  <nx-demo-footer></nx-demo-footer>
</div>


<!--
<div style="text-align: center">
  <h1>Welcome to demo!</h1>
  <img
    width="450"
    src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
    alt="Nx - Smart, Fast and Extensible Build System"
  />
</div>
<div>Message: {{ hello$ | async | json }}</div>
-->
