<div class="wrapper">
  <nx-demo-header></nx-demo-header>  <!-- ヘッダーを表示 -->
  <div class="main">
    <router-outlet></router-outlet>  <!-- routerLinkに指定したコンポーネントを表示 -->
  </div>
  <nx-demo-footer></nx-demo-footer>  <!-- フッターを表示 -->
</div>


<!--
<div style="text-align: center">
  <h1>Welcome to demo!</h1>
  <img
    width="450"
    src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
    alt="Nx - Smart, Fast and Extensible Build System"
  />
</div>
<div>Message: {{ hello$ | async | json }}</div>
-->
