table {
    width: 100%;
  }
  .result-table {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
  }
    
  /**
  th.mat-sort-header-sorted {
    color: black;
  }
  .form-container {
    margin-top: 10px;
  }
  .espp-form {
    margin-left: 10px;
    width: 90%;
  }
  .result-box {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  **/