<div class="main-container">

  <!-- 見出し
  <h1>アカウント一覧</h1>
  -->

  <!-- 表示エリア -->
  <div fxLayout="column">
    <div fxFlex>

      <!-- フィルタリング-->
      <div>
        <mat-form-field class="item-box" appearance="standard">
          <mat-label>検索条件</mat-label>
          <input matInput #filterValue (keyup)="applyFilter(filterValue.value)" placeholder="検索文字列を入力してください...">
        </mat-form-field>
      </div>

      <!-- ボタン -->
      <div class="navi-box">
        <button mat-raised-button color="primary"
          matTooltip="新規に会社情報を追加します。" (click)="addUser()">
          <mat-icon>person_add_alt</mat-icon>
          &nbsp;会社情報追加
        </button>
      </div>

      <!-- 一覧表示 -->      
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table-box">
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- id -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
  
        <!-- company -->
        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>会社名</th>
          <td mat-cell matTooltip="編集を行います。"
            *matCellDef="let element"><a [routerLink]="['/users/user-edit', element.id]">{{ element.company }}</a></td>
        </ng-container>
  
        <!-- telephone -->
        <ng-container matColumnDef="telephone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>電話番号</th>
          <td mat-cell *matCellDef="let element">{{ element.telephone }}</td>
        </ng-container>
  
        <!-- email -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>メールアドレス</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
  
        <!-- address -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>住所</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!-- paginator -->
      <div class="page-box">
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>

  <!--
  <div>Message: {{ hello$ | async | json }}</div>
  -->
</div>

