<div class="main-container">
  <mat-card class="card-box">
    <mat-card-header>
      <mat-card-title>契約会社管理 - ログイン</mat-card-title>
      <mat-card-subtitle>ユーザー名とパスワードを入力してください。</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
      <form class="login-form" [formGroup]="loginForm" (keydown.enter)="$event.preventDefault()" autocomplete="off">
        
        <!-- user -->
        <div>
          <mat-form-field class="item-box">
            <mat-label>ユーザー名（必須）</mat-label>
            <input matInput
              formControlName="user"
              placeholder="hoge@example.com" />
            <mat-error *ngIf="loginForm.controls['user'].errors?.['required']">ユーザー名を空白にはできません。</mat-error>
            <mat-error *ngIf="loginForm.controls['user'].errors?.['pattern']">半角英数字と一部記号(.@_-)のみ入力可能です。</mat-error>
          </mat-form-field>
        </div>
        
        <!-- password -->
        <div>
          <mat-form-field class="item-box">
            <mat-label>パスワード（必須）</mat-label>
            <input matInput
              formControlName="password"
              placeholder="6-20文字の英数字と一部記号(.@-_)"
              [type]="blnPassVisible ? 'password' : 'text'" />
            <mat-icon class="pointer" matSuffix (click)="blnPassVisible = !blnPassVisible">{{blnPassVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">パスワードを空白にはできません。</mat-error>
            <mat-error *ngIf="loginForm.controls['password'].errors?.['pattern']">半角英数字と一部記号(.@_-)のみ入力可能です。</mat-error>
            <mat-error *ngIf="loginForm.controls['password'].errors?.['minlength']">パスワード最小文字数は6文字です。</mat-error>
            <mat-error *ngIf="loginForm.controls['password'].errors?.['maxlength']">パスワード最大文字数は20文字です。</mat-error>
          </mat-form-field>
        </div>
        <!-- loginFormのinvalidプロパティに各項目のバリデーションの総合結果が自動的に入ります -->
        <!-- タグ内でrequiredを設定することで、ふたつの項目のうちどちらかが空白ならボタンを押せない仕組みにしています  -->
        
        <!-- ボタン -->
        <div class="navi-box">
          <button class="navi-button" type="button" mat-raised-button color="primary"
            [disabled]="loginForm.invalid" (click)="login()">
            <mat-icon>login</mat-icon>
            ログイン
          </button>
        </div>
 
      </form>
    </mat-card-content>
    <mat-card-footer>
      <mat-error *ngIf="0 < errors.length">
        <ul>
          <li *ngFor="let error of errors">{{error}}</li>
        </ul>
      </mat-error>
    </mat-card-footer>
  </mat-card>

  <!-- 実行中 -->
  <div *ngIf="blnLoading" class="loading">
    <div class="loading-inner">
      <mat-spinner></mat-spinner>
      {{strLoadingMsg}}
    </div>
  </div>
</div>
